
head{
	margin-top: 100px;
}
body{
	background:#FFE4C4;
}

footer{
	margin-left: 50px;
	background:#FFC4C4;
	margin-right: 50px;

}

canvas{
	border: 1px solid #8F3A84;
	margin-left: 200px;
	margin-bottom: 20px;

}